* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(187, 238, 255, 0.616);
  width: 85vw;
  min-width: 20rem;
  max-width: 60rem;
  margin: 4vw 0;
  padding: 2rem;
  border-radius: 30px 10px 30px 10px;
  border-width: 2px;
  border-style: solid;
}

.card__ul--Tags {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card__title {
  font-size: 1.5em;
  margin-bottom: 0.75rem;
}

.BookmarkIcon {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: -0.9rem;
  right: 0rem;
}

.card__question, .card__answer {
  text-align: center;
}
/* Questions */
