* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.footer {
  margin-top: 5rem;
  border-top: 10px;
}

.navbar {
  background-color: rgb(204, 204, 204);
  padding-top: 0.35rem;
  margin-bottom: auto;
  position: fixed;
  bottom: 0%;
  width: 100vw;
  margin-top: 4vw;
  border-top-width: 1px;
  border-top-style: solid;
}

.navList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  text-align: center;
}

.nav_icon {
  height: 3rem;
  filter: invert(50%);
  padding-bottom: 0.2rem;
}

.nav__title {
  padding-bottom: 0.2rem;
}
/* old
.nav__link {
  text-decoration: none;
  color: black;
  filter: invert(50%);
}
*/
.current {
  filter: invert(0%);
}
