* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(187 238 255 / 61.6%);
}

.profile {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 6vh;
  width: 98vw;
  height: 79vh;
  min-width: 20rem;
  max-width: 60rem;
  margin: 1vw 0;
  padding: 2rem;
}

.section__PicAndName {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5vw;
  margin-top: 1vw;
}

.section__profilePicture {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 2px solid;
}

.section__profileName {
  margin-right: 1rem;
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
}

.section__aboutYourSelf {
  border: 2px black solid;
  border-radius: 7px;
  padding: 0.5rem;
  background-color: rgb(255 255 255 / 61.6%);
}

.section__profileTags {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.section__profileTags li {
  padding: 0.25rem;
  padding-bottom: 0.25rem;
  border: 2px solid;
  border-radius: 7px;
  background-color: rgb(255 255 255 / 61.6%);
}

.logoutButton {
  font-size: 1rem;
  height: 1.5rem;
  width: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-self: center;
  border: 1px black solid;
  color: #000;
  background-color: white;
  text-align: center;
}

.section__profilePicture {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 2px solid;
}
